
@{
    ViewBag.Title = "SetAuthory";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}
@model List<BlogExample.Data.Dto.Admin.AdminAuthoryDto>

<input type="hidden" value="@ViewBag.AdminId" id="adminId" />
<ul style="list-style:none">
    @foreach (var item in Model)
    {
        <li>
         @item.MenuName
         @Html.CheckBox(item.MenuName, item.IsAuthory, new {@class= "role",@id=item.MenuId.ToString()})

        </li>
    }


</ul>

@section scripts{
    <script>
        $('.role').change(function(){
            
            var adminId = $('#adminId').val();
            var menuId = $(this).attr('id');
            $.getJSON('/Admin/Authory/ChangeRole/?menuId=' + menuId + "&adminId=" + adminId);
        })

    </script>
    
    }

