@{
    ViewBag.Title = "Insert";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";

}
@model BlogExample.UI.Web.Areas.Admin.Models.MenuModel
<div class="panel panel-default">
   
    <div class="panel-heading">
        Menu Ekleme
    </div>
    <div id="result" class="col-md-12"></div>
    <div class="panel-body">
        @using (Ajax.BeginForm("Insert", "Menu", new AjaxOptions()
        {
            HttpMethod = "POST",
            OnSuccess = "AddMenuResult"

        }, new { @role = "form", @id = "frmAddMenu" }))
        {

            @Html.Partial("Partial/_menuForm", Model)
            @Html.SubmitButton("Kaydet")

        }






    </div>
</div>
@section scripts{
    <script src="~/Areas/Admin/Scripts/Custom/General/FormSctirpts.js"></script>
    <script src="~/Areas/Admin/Scripts/Custom/Menu/AddMenu.js"></script>
}
