
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}

<div class="alert alert-danger">
    <h1>Bu alana erişme yetkiniz yoktur</h1>
    <p>Lütfen yöneticinizle irtibata geçiniz</p>
</div>

